.IntervalMap {
  display: flex;
  margin-bottom: 25px;
  height: 260px;
  margin: 0 5% 15px 5%;

  .IntervalMap-key {
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 5px;
    span {
      color: #9eeb2c;
    }
  }

  .IntervalMap-header {
    margin: 20px;
    color: blue;

    h3 {
      margin: 0;
    }
  }

  .IntervalMap-intervals {
    order: 2;
    width: 50%;

    .IntervalMap-header {
      color: orange;
      margin-top: 0;
    }

    ul {
      list-style: none;
      margin-right: 25px;
      text-align: center;
      height: 200px;
      overflow-x: auto;

      li {
        display: flex;
        justify-content: flex-end;
        width: 200px;
        margin: 0 auto;
      }
    }
  }

  .IntervalMap-inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 25px;
    order: 1;
    width: 50%;

    span {
      display: flex;
      font-weight: bold;
      justify-content: space-between;
      min-width: 250px;

      input {
        text-align: center;
        width: 50px;
      }
    }
  }
}
